.ed-media {
    display        : flex;
    flex           : 1;
    position       : relative;
    flex-direction : column;
    height         : 100%;
    background     : #000;
}

.ed-big-button {
    flex            : 1;
    height          : 100%;
    z-index         : 2;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.ed-big-button:hover i {
    opacity : 1;
}

.ed-big-button.hide i {
    display : none;
}

.ed-big-button i {
    opacity            : 70%;
    color              : #fff;
    height             : 80px;
    width              : 80px;
    background         : rgba(0, 173, 255, 0.7);
    border-radius      : 50%;
    border             : 5px solid rgba(255, 255, 255, 0.7);
    display            : flex;
    align-items        : center;
    justify-content    : center;
    font-size          : 26px;
    -webkit-transition : 0.15s ease-in all;
    transition         : 0.15s ease-in all;
}

.ed-element {
    position : absolute;
    width    : 100%;
    height   : 100%;
    display  : flex;
    z-index  : 1;
}

.ed-element video {
    width  : 100%;
    height : 100%;
}

.ed-controls {
    z-index       : 2;
    bottom        : 0;
    height        : 40px;
    background    : rgba(0, 173, 255, 0.7);
    display       : flex;
    width         : 100%;
    align-content : center;
}

.ed-btn {
    width              : 40px;
    height             : 40px;
    display            : flex;
    cursor             : pointer;
    border             : 0;
    background         : transparent;
    justify-content    : center;
    align-items        : center;
    color              : #FFFFFF;
    -webkit-transition : 0.15s ease-in all;
    transition         : 0.15s ease-in all;
}

.ed-btn:hover {
    background : rgba(255, 255, 255, 0.2);
}

.ed-btn:focus {
    outline : dotted 1px #999;
}

.ed-current-time,
.ed-duration {
    font-weight     : 700;
    font-size       : 11px;
    color           : #fff;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 0 10px;
}

.ed-time-rod {
    flex            : 1;
    display         : flex;
    align-items     : center;
    justify-content : center;
    cursor          : pointer;
}

.ed-time-rod .ed-time-rod-slider {
    background : rgba(255, 255, 255, 0.3);
    height     : 10px;
    width      : 100%;
    display    : flex;
    position   : relative;
}

.ed-time-rod .ed-time-rod-slider .ed-time-buffering {
    height            : 100%;
    width             : 100%;
    -webkit-animation : buffering-stripes 2s linear infinite;
    animation         : buffering-stripes 2s linear infinite;
    background        : -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background        : linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-size   : 15px 15px;
    position          : absolute;
    left              : 0;
    top               : 0;
    display           : none;
}

@-webkit-keyframes buffering-stripes {
    from {
        background-position : 0 0;
    }
    to {
        background-position : 30px 0;
    }
}

@keyframes buffering-stripes {
    from {
        background-position : 0 0;
    }
    to {
        background-position : 30px 0;
    }
}

.ed-time-rod .ed-time-rod-slider .ed-time-loaded {
    display    : flex;
    height     : 100%;
    width      : 0%;
    background : rgba(255, 255, 255, 0.3);
    position   : absolute;
    left       : 0;
    top        : 0;
}

.ed-time-rod:hover .ed-time-rod-slider .ed-time-hovered {
    display : block;
}

.ed-time-rod .ed-time-rod-slider .ed-time-hovered {
    display    : none;
    height     : 100%;
    width      : 0%;
    background : rgba(255, 255, 255, 0.5);
    position   : absolute;
    left       : 0;
    top        : 0;
}

.ed-time-rod .ed-time-rod-slider .ed-time-hovered .ed-time-tooltip {
    background      : #fff;
    width           : 36px;
    height          : 16px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    color           : #111;
    font-size       : 10px;
    right           : -18px;
    top             : -25px;
    position        : absolute;
    border          : 1px solid #757575;

}

.ed-time-rod .ed-time-rod-slider .ed-time-hovered .ed-time-tooltip:before,
.ed-time-rod .ed-time-rod-slider .ed-time-hovered .ed-time-tooltip:after {
    content      : "";
    display      : block;
    bottom       : -10px;
    position     : absolute;
    border       : 5px solid;
    border-color : #fff transparent transparent;
}

.ed-time-rod .ed-time-rod-slider .ed-time-hovered .ed-time-tooltip:before {
    border       : 5.5px solid;
    border-color : #757575 transparent transparent;
    bottom       : -12px;
}

.ed-volume {
    position : relative;
}

.ed-volume:hover .ed-volume-slider {
    display : block;
}

.ed-volume .ed-volume-slider {
    display    : none;
    background : rgba(0, 173, 255, 0.7);
    width      : 100px;
    height     : 30px;
    cursor     : pointer;
    padding    : 10px;
    transform  : rotate(-90deg);
    bottom     : 75px;
    left       : -30px;
    position   : absolute;
}

.ed-volume .ed-volume-slider .ed-volume-content {
    position : relative;
    height   : 10px;
    width    : 100%;
}

.ed-volume .ed-volume-slider .ed-volume-total {
    width      : 100%;
    height     : 10px;
    background : rgba(255, 255, 255, 0.3);
    position   : absolute;
}

.ed-volume .ed-volume-slider .ed-volume-current {
    width      : 0%;
    display    : block;
    height     : 10px;
    background : rgba(255, 255, 255, 0.5);
    bottom     : 0px;
    position   : absolute;
}
